<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}
 
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}
 
<!-- 写入 base.html 中定义的 content -->
{% block content %}
 
<!-- 定义放置文章标题的div容器 -->
<div class="container">
    {% for article in articles %}
    <div class="row mt-2">
        <!-- 文章内容 -->
        <div class="col-sm-12">
            <!-- 卡片容器 -->
            <div class="card h-100">
                <!-- 标题 -->
                <!-- 摘要 -->
                <div class="card-body">
                    <h4 class="card-title">{{ article.title }}</h4>
                    <p class="card-text">{{ article.body|slice:'100' }}...</p>
                    {% comment %} <a href=""  class="card-link">阅读本文</a> {% endcomment %}
                    <a href="{% url 'detail' article.id %}"  class="card-link">阅读本文</a>

                    &nbsp
                    {% comment %} <a href="{% url "delete" article.id %}">删除文章</a>   {% endcomment %}
                    <!-- 只有作者可以修改文章 -->
                    {% if user == article.author %}
                    <a href="#" data-bs-toggle="modal" data-bs-target="#myModal">删除文章</a>

                    <!-- 这里增加阅读量和图标 -->
                    <small class="col align-self-end" style="color: gray;">
                        <span class="bi bi-eye">
                        {{ article.total_views }}
                        </span>
                    </small>

                    <!-- 新增一个隐藏的表单 -->
                    <form
                        style="display:none;"
                        id="safe_delete"
                        action="{% url "delete" article.id %}"
                        method="POST"
                    >
                        {% csrf_token %}
                        <button type="submit">发送</button>
                    </form>
                    &nbsp
                    <a href="{% url "update" article.id %}">编辑文章</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">确认删除</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body">
                    确认删除文章？
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirm_delete(event)">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- 页码导航 -->
    <div class="pagination row">
        <div class="m-auto">
            <span class="step-links">
                <!-- 如果不是第一页，则显示上翻按钮 -->
                {% if articles.has_previous %}
                    <span>...</span>
                    <a href="?page={{ articles.previous_page_number }}"
                    class="btn btn-secondary"
                    >
                        {{ articles.previous_page_number }}
                    </a>
                {% endif %}
    
                <!-- 当前页面 -->
                <span class="current btn btn-danger btn-lg">
                    {{ articles.number }}
                </span>
                <!-- 如果不是最末页，则显示下翻按钮 -->
                {% if articles.has_next %}
                    <a href="?page={{ articles.next_page_number }}&order={{ order }}"
                        class="btn btn-secondary">{{ articles.next_page_number }}</a>
                    <span>...</span>
                    <a href="?page={{ articles.paginator.num_pages }}&order={{ order }}"
                        class="btn btn-success">{{ articles.paginator.num_pages }} &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    <script>
        // 删除文章的函数
        function confirm_delete(event) {
            event.preventDefault();
            document.getElementById("safe_delete").submit();
        }
    </script>

    {% endfor %}
</div>
{% endblock content %}

{% comment %}
 Django的模板语法 
{% endcomment %}